<!DOCTYPE html>
<html>
  <head>
    <title>SdkLogin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="google-signin-client_id" content="764162119176-eh2h8i5og7jkmkf2gmut01ov7g39gbhg.apps.googleusercontent.com">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
